<!DOCTYPE html>
<html>
<head>
    <title>Form Submission</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="script.js" type="text/javascript"></script>
	<link href="Stylesheet1.css" rel="stylesheet" type="text/css" />    
	
</head>
<body ng-app="mainModule">
	<div ng-controller="mainController">
		<h3>1. Standart from submission</h3>
		<form name="personForm1" action="server.php" method="post" novalidate>
			<label for="firstNameEdit1">First Name:</label>
			<input id="firstNameEdit1" type="text" name="firstName" ng-model="person1.firstName" required /><br />
			<label for="lastNameEdit1">Last Name:</label>
			<input type="text" id="lastNameEdit1" name="lastName" ng-model="person1.lastName" required /><br />
			<br />
			<button type="submit" ng-disabled="personForm1.$invalid">Submit</button>
		</form>
		<br />
		
		<h3>2. AJAX form submission with ng-submit</h3>
		<form name="personForm2" ng-submit="submitData(person2, 'ajaxSubmitResult1')" novalidate >
			<label for="firstNameEdit2">First Name:</label>
			<input type="text" name="firstName" id="firstNameEdit2" ng-model="person2.firstName" required /><br />
			<label for="lastNameEdit2">Last Name:</label>
			<input type="text" name="lastName" id="lastNameEdit2" ng-model="person2.lastName" required /><br />
			<br />
			<button type="submit" ng-disabled="personForm2.$invalid">Submit</button>		
		</form>
		<br />
		
		<strong><label for="submitDebugText1">Submit Result:</label></strong><br />
		<textarea id="submitDebugText1">{{ajaxSubmitResult1 | json}}</textarea><br />
		<br />
		
		<h3>3. AJAX form submission with ng-click</h3>
		<form name="personForm3" novalidate>
			<label for="firstNameEdit3">First Name:</label>
			<input id="firstNameEdit3" type="text" name="firstName" ng-model="person3.firstName" required /><br />
			<label for="lastNamedEdit3">Last Name:</label>
			<input id="lastNameEdit3" type="text" name="lastName" ng-model="person3.lastName" required /><br />
			<br />
			<button type="submit" ng-click="submitData(person3, 'ajaxSubmitResult2')"
				ng-disabled="personForm3.$invalid">Submit</button>
		</form>
		<br />
		
		<strong><label for="submitDebugText2">Submit Result:</label></strong><br />
		<textarea id="submitDebugText2">{{ajaxSubmitResult2 | json}}</textarea>
	</div>
</body>
</html>

