label
{
	width: 80px;
	display: inline-block;
	vertical-align:middle;	
}

input
{
	width:150px;
	vertical-align:middle;	
}

textarea
{
	width:150px;
	height:100px;
	vertical-align:middle;	
}

.valueItems
{
	display:inline-block;
	vertical-align:middle;	
}